:root {

}
.menu-button {
            border-radius: 8px;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
            transition-property: background-color;
            transition-duration: 0.15s;
        }
        
.menu-button:hover {
         background-color: rgb(80, 200, 132);
 }